
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>library management</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</head>

<body id="a1">
  <div id="bookdetails">
    <div id="bookdetailheader"><img id="bookdetailimg"src=""/>
    <h2 id="bookdetailtitle"></h2><span onclick="closebookdetail()" class="close-bookdetail material-symbols-sharp">
close
</span></div>
   <br>
    <div id="bookdetaildescription"></div>
  </div>
  <div id="b1">
    <h1>Library</h1>
    <div id="c1">
    <div id="d1"><input id="e1" type="text" placeholder="search"></div>
     
     
    </div>
  </div>
  <div id="b2" class="row"></div>
<script src="/static/script.js"></script>

</body>

</html>
